# {{ command_name }}

{{ short }}

**Usage:**

```
{{ synopsis }}
```

## Overview

{{ long }}

{% if arguments %}
## Arguments

| Argument | Description | Default |
|----------|-------------|---------|
{% for argument in arguments %}
| `{{ argument.name }}`{% if argument.nargs %} (`{{ argument.nargs }}`){% endif %} | {{ argument.usage }}{% if argument.choices %} Choices: {% for choice in argument.choices %}`{{ choice }}`{{ ", " if not loop.last }}{% endfor %}.{% endif %} | {% if argument.default_value %}`{{ argument.default_value }}`{% endif %} |
{% endfor %}

{% endif %}
{% if flags %}
## Options

| Flag | Description | Default |
|------|-------------|---------|
{% for flag in flags %}
| `{% if flag.short %}{{ flag.short }}, {% endif %}{{ flag.name }}{% if flag.metavar %} {{ flag.metavar }}{% endif %}` | {{ flag.usage }}{% if flag.required %} (required){% endif %}{% if flag.choices %} Choices: {% for choice in flag.choices %}`{{ choice }}`{{ ", " if not loop.last }}{% endfor %}.{% endif %} | {% if flag.default_value %}`{{ flag.default_value }}`{% endif %} |
{% endfor %}

{% endif %}
{% if examples %}
## Examples

{% for example in examples %}
**{{ example.info }}**

```
{{ example.usage }}
```

{% endfor %}
{% endif %}
{% if related_commands %}
## See also

{% for cmd in related_commands %}
- [{{ cmd }}]({{ cmd }}.md)
{% endfor %}
{% endif %}
